<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Mon carnet de citations</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--Favicon -->
    <link href="/static/favicon.ico" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Other stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap|Montserrat| Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS and fontawsome-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/873e0e2f7d.js" crossorigin="anonymous"></script>

  </head>

  <body>
  
    <nav class="navbar navbar-stprojet">
      <!---->
      <a class="navbar-brand" href="{{url_for('passages.home')}}"><h5><i class="fas fa-angle-double-left" id="navbar-logo"></i>Mon carnet de citations</h5></a>

      <!--Menu on large screens (horizontal)-->
      <div class="navbar-stprojet-horizontal hidden-xs hidden-sm">
            <a href="{{url_for('passages.home')}}" class="navbar-items-stprojet">Accueil</a>
            <a href="{{url_for('passages.inspiration')}}" class="navbar-items-stprojet">Inspiration</a>
            <a href="{{url_for('passages.mes_citations')}}" class="navbar-items-stprojet">Mes citations</a>
          {% if g.user %}
            <a href="{{ url_for('auth.logout') }}" class="navbar-items-stprojet auth-info">Déconnexion</a>
          {% else %}
            <a href="{{ url_for('auth.register') }}" class="navbar-items-stprojet auth-info">Inscription</a>
            <a href="{{ url_for('auth.login') }}" class="navbar-items-stprojet auth-info">Connexion</a>
          {% endif %}
      </div>

      <!--Menu on mobile (dropdown) -->
      <div class="navbar-stprojet-vertical hidden-md hidden-lg">
        <div class="dropwdown">
            <i class="fa fa-bars dropwdown-toggle" data-toggle="dropdown" aria-expanded="true" ::before ></i>
          <ul class="dropdown-menu dropdown-menu-vertical navbar-stprojet-dropwdown-menu" ::before>
            <li><a href="{{url_for('passages.home')}}" class="navbar-items-stprojet">Accueil</a></li>
            <li><a href="{{url_for('passages.inspiration')}}" class="navbar-items-stprojet">Inspiration</a></li>
            <li><a href="{{url_for('passages.mes_citations')}}" class="navbar-items-stprojet">Mes citations</a></li>
            {% if g.user %}
              <li><a href="{{ url_for('auth.logout') }}"class="navbar-items-stprojet auth-info">Déconnexion</a></li>
            {% else %}
              <li><a href="{{ url_for('auth.register') }}" class="navbar-items-stprojet auth-info">Inscription</a></li>
              <li><a href="{{ url_for('auth.login') }}" class="navbar-items-stprojet auth-info">Connexion</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <footer class="footer page-footer footer-copyright">
      <p><em>© Noémie Piérart (Bordeaux, France) - 2020 - <br></p>
      <p>CS50 Final Project</em></p>
    </footer>

  </body>
</html>