{% extends 'base.html' %}

{% block content %}

  <section id="register">
    <div class="section-title section-top" style="background-image: linear-gradient(rgba(20,0,0,0.5), rgba(20,0,0,0.5)), url('https://images.unsplash.com/photo-1585701701580-ad52f6468927?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60')">
        <h3 class="align-items-center">Inscription</h3>
    </div>
 
  	<form method="post" class="form">
	    <label for="username">Nom d'utilisateur</label>
	    <br>
	    <input name="username" class="w-100" id="username" required>
	    <br>
	    <label for="password">Mot de passe</label>
	    <br>
	    <input type="password" class="w-100"name="password" id="password"required>
	    <br>
	    <input class="btn-flat w-100" type="submit" value="Inscription">
	    <p>Déjà inscrit ? <a href="login">Cliquer ici</a></p>
  	</form>


{% endblock %}
